# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/.idea/codeStyles/Project.xml
/out/production/bbc-java-intro/README.md
/.idea/uiDesigner.xml
/.idea/vcs.xml
/out/production/bbc-java-intro/.idea/.gitignore
/out/production/bbc-java-intro/.idea/bbc-java-intro.iml
/out/production/bbc-java-intro/.idea/codeStyles/codeStyleConfig.xml
/out/production/bbc-java-intro/.idea/jpa-buddy.xml
/out/production/bbc-java-intro/.idea/misc.xml
/out/production/bbc-java-intro/.idea/modules.xml
/out/production/bbc-java-intro/.idea/codeStyles/Project.xml
/out/production/bbc-java-intro/.idea/vcs.xml
